<h2> <%= "Edit Bedroom No. #{@bedroom.id}" %> </h2>

<% if flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <h4 style="color: red;"> Error: <%= message %> </h4>
  <% end %>
<% end %>

<%= render "form"%>branch