<ul>
<% flash.each do |type, msg| %>
    <li><%= msg %></li>
<% end %>
</ul>

<h1>Here are all the Bathrooms</h1>
<%@bathrooms.each do |bathroom|%>
    <%= link_to "Click Here to View Bathroom #{bathroom.id}", bathroom_path(bathroom)%> <br>
    <br>
<% end %>

<%= link_to "Make a New Bathroom", new_bathroom_path%> <br>

